body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header {
	background-color: #333; 
	height: 3em; 
	color: #FFF; 
	margin-bottom: 1em;
}

header h1 {
	font-size: 2em; 
	display: inline-block; 
	vertical-align: middle; 
}

header .cabecalho:before{
	content: ''; 
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.cabecalho {
	width: 85%; 
	height: 100%; 
	margin: 0 auto;
}

/*  */

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding-top: 14px;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 2px solid #ccc;
    border-top: none;
    background: #f1f1f1;
}




